<div class="nav"> 
    <div class="nav-header">
      <div class="nav-title">
        Stitch-Line
      </div>
    </div> 
  </div> 
  <div class="profile-page">
      <div class="form"> 
        <form class="profile-form">
          <p class='profile'>Admin Page</p> 
          <input type="text" placeholder="name"[disabled]="true"/>
          <input type="text" placeholder="email"[disabled]="true"/>
          <input type="text" placeholder="mobile number"[disabled]="true"/> 
          <input type="text" placeholder="username"/> 
          <input type="text" placeholder="nic" />
          <input type="text" placeholder="employee number" />
        </form>
      </div>
    </div>
    